[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "lib/cmocka"]
	path = lib/cmocka
	url = https://gitlab.com/cmocka/cmocka

[submodule "lib/libsodium"]
	path = lib/libsodium
	url = https://github.com/GlitchedPolygons/libsodium
[submodule "lib/acutest"]
	path = lib/acutest
	url = https://github.com/mity/acutest.git
